.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.container {
  display: flex;
  flex-direction: column;
}

.today-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.currentWeatherContainer {
  background-color: aqua;
  width: 45%;
  padding: 1em;
}

.currentWeather {
  display: flex;
  flex-direction: row;
}

.todaysWeatherContainer {
  background-color: blueviolet;
  width: 55%;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todaysWeather {
  width: 100%;
}

.todaysWeather--barometrics {
  display: flex;
  flex-direction: row;
}

.todaysWeather--forecast {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.todaysWeather--forecast-item {
  width: 25%;
}

.todaysWeather--forecast-item img {
  width: 200px;
  height: 200px;
}

.forecast {
  background-color: coral;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.forecast-day {
  width: 100%;
  padding: 1em;
  border: 1px solid;
  padding-left: 3em;
  padding-right: 3em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.forecast-day img {
  width: 300px;
  height: 300px;
  align-self: center;
}